:root {
	--black: #1c1c1c;
	--darkgrey: #505050;
	--lightgrey: #d4d4d2;
	--orange: #ff9500;
	--white: #ffffff;
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--black);
}

.App {
	text-align: center;
	width: 100%;
	color: var(--white);
	font-size: 28px;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.Calculator {
	width: 100%;
	padding: 10px;
}

.display {
	max-width: 350px;
	margin: 0 auto;
	height: 100px;
	font-size: 45px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0 5px;
}

.display-text {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
	cursor: copy;
}

.smallerText {
	font-size: 27px;
}

.buttons {
	max-width: 350px;
	margin: 0 auto;
}

.row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	margin-bottom: 15px;
}

.special-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	margin-bottom: 15px;
}

.special-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	flex: 1 1 0;
}

.button {
	background-color: var(--orange);
	flex: 1 1 0px;
	max-width: 80px;
	min-width: 0px;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 80px;
	border-radius: 40px;
	cursor: pointer;
	user-select: none;
}

.double-button {
	max-width: 100%;
	flex: 1 1 0;
}

.selected {
	color: var(--orange);
	background-color: var(--white);
}

.number {
	background-color: var(--darkgrey);
	animation: ripple 1s ease-in;
}

.special-operation {
	background-color: var(--lightgrey);
	color: #1c1c1c;
}

.button:hover {
	opacity: 0.75;
}

@media only screen and (max-width: 350px) {
	.button {
		border-radius: 0;
	}
}
