.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  font-size: 32px;
  color: #1c1c1c;
}

.color-one {
  color: #d4d4d2;
}
.background-one {
  background-color: #d4d4d2;
}

.color-two {
  color: #1c1c1c;
}
.background-two {
  background-color: #1c1c1c;
}

.color-three {
  color: #505050;
}
.background-three {
  background-color: #505050;
}

.color-four {
  color: #35A318;
}
.background-four {
  background-color: #35A318;
}

.result-area {
  width: 100%;
  height: 70px;
  font-size: 50px;
  line-height: 70px;
  color: #ffffff;
  text-align: right;
  padding: 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.translation-area {
  position: absolute;
  top: 0;
  width: 100%;
  height: 90px;
  color: #ffffff;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  display: flex;
}

.translation-section {
  flex-grow: 1;
  width: 0;
  
}

.translation-section-top {
  height: 40px;
  line-height: 40px;
  font-size: 21px;
  text-align: center;
}

.translation-section-bottom {
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  text-align: center;
}

.result-area:active {
  color: #35A318;
}

.button {
  height: calc(100vw /4);
  width: 0;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #1c1c1c;
  cursor: pointer;
  user-select: none;
}

.button:hover {
  background-color: rgba(212, 212, 210, 0.6);
  transition: 0.3s;
}

.button:active {
  background-color: rgba(212, 212, 210, 0.1)
}

.break {
  width: 100vw;
  height: 0;
}

.button-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 1px;
}

.activeOperator {
  background-color:rgba(53, 163, 24, 0.6)
}

